<ion-view ng-controller="changePasswordCtrl as vm" view-title="Change Password">
    <ion-content>
        <form ng-submit="vm.changePassword(user)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Old Passwrod or code</span>
                    <input type="text" ng-model="user.oldPassword">
                </label>
                <label class="item item-input">
                    <span class="input-label">New Password</span>
                    <input type="password" ng-model="user.newPassword">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Submit</button>
                </label>
            </div>
        </form>
        <div> * Enter the temporary password as old password.</div>
    </ion-content>
</ion-view>
