<ion-nav-bar class="bar-dark">

</ion-nav-bar>




<ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="Login" icon="ion-log-in" ui-sref="home.login">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sign up" icon="ion-clipboard" ui-sref="home.signup">
        <ion-nav-view name="tab-signup"></ion-nav-view>
    </ion-tab>


<ion-tab title="Forget PW" icon="ion-ios-information-outline" ui-sref="home.resetPassword">
    <ion-nav-view name="tab-resetPassword"></ion-nav-view>
</ion-tab>




</ion-tabs>
